<li><a href="{{ path('wortxwortart') }}">WortWortart</a></li>
<li><a href="{{ path('wortart') }}">Wortart</a></li>
<li><a href="{{ path('wort') }}">Wort</a></li>
<li><a href="{{ path('vokabel') }}">Vokabel</a></li>