{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
{% include 'LernparadiesBenutzerBundle::Security/login_form.html.twig' %}
{% endblock fos_user_content %}
