{% extends 'LernparadiesLernparadiesBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Wortart creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('wortart') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
